@import "tailwindcss";

@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";

:root {
  --background: #000319;
  --foreground: #C1C2D3;
  --sans: 'Inter';
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000319;
    --foreground: #C1C2D3;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM Plex Sans', monospace;
}